*{
    margin:0px;
    padding:0px;
}
body{
    padding:20px 10px; 
    font:15px "Courier New", Courier, monospace;
}
form {
    width:800px;
    margin: 40px auto;
}
form div {
    margin:0px 0px 5px 0px;
}
legend{
    font-size:1.6em;
    font-weight:bold;
}
label{
    width:200px;
    display:block;
    float: left;
    clear:left;
    font-weight:bold;
    line-height:1.5em;
}
h3,hr,p,h1 {margin-bottom:15px}
#pagination{width:700px; margin-top:15px; text-align:center}
#pagination a, span.current{ text-decoration:none; padding:0px 10px; border:1px solid #CCC; border-radius:3px; margin-right:3px; color:#090;font-size:13px}
span.current{ color:#F00; font-weight:bold}
td{border:1px solid #333; padding:3px 5px}
tr.title td{height:22px;font-weight:normal;text-align:center;background:#333;color:#FFF}
.red{color:#F00}