*{
    margin:0px;
    padding:0px;
}
body{
    padding:20px 10px; 
    font:15px "Courier New", Courier, monospace;
}
a{
  text-decoration:none;
}
h3,hr,p,h1 {margin-bottom:15px}
.pagination{width:700px; margin-top:15px; text-align:center}
.pagination a, span.current{ text-decoration:none; padding:0px 10px; border:1px solid #CCC; border-radius:3px; margin-right:3px; color:#090;font-size:13px}
span.current{ color:#F00; font-weight:bold}
td{border:1px solid #333; padding:3px 5px}
tr.title td{height:22px;font-weight:normal;text-align:center;background:#333;color:#FFF}
.red{color:#F00}
.wrapper{
    width:1000px;
    background:#0000;
    margin: 0 auto;
    
}
.header{
    width:100%;
    height:80px;
    background: url(../images/logo2.png) no-repeat;   

}
.header ul{
  padding:60px 0px 0px 600px;
}
.header li{
  list-style:none;
  display:inline;
  padding-left:60px;
  font-weight:bolder;
}
.section{
  margin-top:50px;
  padding-left:10px;
}
.nav{
    width:100%;
    height:20px;
    background:#1b3867;
    padding: 0px;
}
.nav ul{

}
.nav li{
    list-style:none;
    display:inline;
    padding-left:30px;
    font-size:12px;
}
.nav a{
   text-transform: uppercase;
   color: #FFFFFF;
   text-decoration: none;
  font-weight:bolder;
}
.nav a:hover{
    color:yellow;
    padding: 0px;
    margin: 0px;
}

